{% extends "skillmatch/layout.html" %}
{% load static %}

{% block script %}
    <script type="text/babel" src="{% static 'js/authentication.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock %}

{% block body %}
    <div class="message-container">
        <h4> SKILLMATCH </h4>
        <h5> Start creating with Skillmatch </h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>

    <div id="authentication" class="auth_container" data-form="{{ form }}">
        
        <div id="login_form" class="form_container">
            <h2> Log in </h2>
            <p class="link-other"> Don't have an account? Create one <a id="register_switch"> here </a> </p>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% if login_message %}
                    <div class="error-message">
                        {{ login_message }}
                    </div>
                {% endif %}
                {{ log_in.as_p }}
                <input type="submit" value="Log In">
            </form>
        </div>

        <div id="register_form" style="display: none;" class="form_container">
            <h2> Sign up </h2>
            <p class="link-other"> Have an account? Log in <a id="login_switch"> here </a> </p>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {% if register_message %}
                    <div class="error-message">
                        {{ register_message }}
                    </div>
                {% endif %}
                {{ sign_up.as_p }}
                <input class="btn btn-primary" type="submit" value="Register">
            </form>
        </div>
    </div>
{% endblock %}