{% extends "layout_admin.html" %}

{% block main %}

    <div class="container_form">

        <div class="title register_ttl">
            <h1>Log In</h1>
        </div>

        <form action="/login" method="post">
        <div class="form_input">
            <input autocomplete="off" autofocus id="username" name="username" placeholder="Username" type="text" required required minlenght="4">
        </div>
        <div class="form_input">
            <input id="password" name="password" placeholder="Password" type="password" required required minlenght="7">
        </div>
        <button class="btn btn_register" type="submit">Submit</button>
    </div>

{% endblock %}